<div class="card" id="<%= dom_id review %>">
  <div class="card-body">
    <%= render 'shared/rating', value: review.rating %>
    <div>
      <%= link_to review.user.username, profile_path(review.user.username) %>
      <span class="text-muted small">
        <%= l(review.created_at, format: :long) %>
      </span>
    </div>
    <% if review.text.present? %>
      <div style="white-space: pre-line;"><%= review.text %></div>
    <% end %>
  </div>
</div>
